<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to root_path, alt: 'favoritos', class: 'navbar-item' do %>
      <h1 class="title has-text-white-bis">Favoritos</h1>
    <% end %>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <% if user_signed_in? %>
    <div class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Links
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            Novo
          </a>
          <a class="navbar-item">
            Listar
          </a>
        </div>
      </div>

      <a class="navbar-item">
        Categorias
      </a>
    </div>

    <div class="navbar-end">
      <%= link_to current_user.email, edit_user_registration_path, alt: 'editar perfil', class: 'navbar-item' %>
      <div class="navbar-item">
        <div class="buttons">
          <%= link_to destroy_user_session_path, alt: 'sair', class: 'button is-light', method: :delete do %>
            &raquo; Sair
          <% end %>
        </div>
      </div>
    </div>
    <% else %>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <%= link_to 'Cadastrar-se', new_user_registration_path, alt: 'registrar-se', class: 'button is-primary has-text-weight-bold' %>
          <%= link_to 'Entrar', new_user_session_path, alt: 'entrar', class: 'button is-light has-text-weight-bold' %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</nav>
