<div class="container">
  <div class="columns">
    <div class="column is-6 is-offset-3">
      <h2 class="title h2 has-text-weight-light has-text-centered">Faça seu cadastro</h2>
      <%= render partial: 'shared/flash' %>
      <%= render 'users/shared/error_messages', resource: resource %>
      <div class="box">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email, class: 'label' %>
            <div class="control">
              <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'input' %>
            </div>
          </div>

          <div class="field">
            <%= f.label :password, class: 'label' %>
            <div class="control">
              <%= f.password_field :password, autocomplete: 'new-password', class: 'input' %>
            </div>
          </div>

          <div class="field">
            <%= f.label :password_confirmation, class: 'label' %>
            <div class="control">
              <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: 'input' %>
            </div>
          </div>

          <hr>

          <%= f.submit 'Cadastrar-se', class: 'button is-primary is-fullwidth has-text-weight-bold' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
